.invalid-feedback {
    display: block !important;
}

.btn-small {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 12px !important;
}

i {
    line-height: 4 !important;
}

.ti-angle-right {
    line-height: 7 !important;
}

.datepicker {
    padding: 0 5px !important;
}
